.infopanel {
  display:inline-block;
  padding: 20px;
  background-color: cornsilk;
  width: auto;
  border-radius: 20px;
  text-align: center;
}

.infolabel {
  font-size: 22px;
  font-weight: bold;
  color: saddlebrown;
}