.infopanel {
  display:inline-block;
  margin-left: 40px;
  padding: 20px;
  background-color: cornsilk;
  width: auto;
  border-radius: 20px;
  max-width: 900px;
}

.infolabel {
  font-size: 22px;
  font-weight: bold;
  color: saddlebrown;
}